<md-toolbar class="md-theme-indigo">
    <h2 class="md-toolbar-tools">Menu</h2>
</md-toolbar>

<md-content layout="column" layout-padding>
    <md-button ng-click="bpuiCtrl.navToHome()" aria-label="Home" class="md-fab md-raised md-accent md-hue-3">
        <md-icon md-font-icon="fa fa-home fa-3x"></md-icon>
        <md-tooltip md-direction="right">Home</md-tooltip>
    </md-button>
    <md-button ng-click="bpuiCtrl.navToSecond()" aria-label="Second Screen" class="md-fab md-raised md-accent md-hue-3">
        <md-icon md-font-icon="fa fa-user-secret fa-3x"></md-icon>
        <md-tooltip md-direction="right">Second Screen</md-tooltip>
    </md-button>
</md-content>